/* stylelint-disable */

.system-sans { font-family: $system-sans; }
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

// theme

.font-title-a { font-family: $font-title-a; }
.font-normal-a { font-family: $font-normal-a; }
