/* stylelint-disable */

.ArticleCard__background {
  height: 50vh;
  width: 100%;
  filter: blur(8px);
  background-position: center;
  animation-delay: 0s;
  transform: scale(1.5);
  animation: ArticleCard__background--anim 0.6s ease both;
}

.ArticleCard__cont {
  opacity: 0;
  animation: appear 0.4s ease both;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ArticleCard__img--anim {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes ArticleCard__img--anim {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes ArticleCard__background--anim {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}
@keyframes ArticleCard__background--anim {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}

.cont {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.ArticleCard__img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
  height: 50vh;
  animation: ArticleCard__img--anim 0.6s ease both;
}

.article {
  margin-top: 50px;
}
