/* stylelint-disable */

header {
  height: 90px;
  width: 100%;
}

header:after {
  // overflow: hidden;
  // content: "";
  // display: block;
  // position: absolute;
  // top: 0;
  // left: 0;
  // background-image: url('https://lh3.googleusercontent.com/WCKobnF-z08h2CoMITbCFr9fPdDp8h6gZG6ah52VPrzImhwecqhfspGiULBOfK4AUv38N7GO38CIOtT18FyOCgSJ7sc26gLPFywsEMvSVbCI9bepMn5NUFVABc-s0L_1lZo0HJyKjtbPuKrtAYiD-ZKlFxffy0yJniXJFPvXDjtTc7VlnEAcQcHr_gg46Xtyu0pFbIMlBbSSMxSanCFcUv40XWKMgGKsY8MEgGasIoeEmWDg6JXCGfGNyg3wLk1VKAONGxQRdFFhWv29XqlKm1mUlrb_zBdnDxETpRChG0_MzgpnW2NTJSYyhXUR3WZs0VKzW1GC3UinjYurgJf6fzKAwAMHdahygJRGbbkj3AWRgyDRQ4OQahn69xPdKfLjnl666BEWFt0Q7wVl0qRTMHvQTbOfB7rVx60fyIcG7oYUe9C3wxBlwNGKW3EZJNBUha03mIS1ezM6R9jkxN4E_GS3XBwZbKGDrhPPF38mc1XTcDNL0I_DFKb-pnR9QBF0jQPZSfOQyDR9QitOrBPlZXyKJayzMgefhj9QNdrDAtDvy_fOI1SxhMP_TT3THxC_4Im7M_5rk7__F_bTg7wKjeB_7gdDceMKTJMRX6N1=w1463-h929-no');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 100%;
  // height: 100%;
  // opacity: 0.05;
  // z-index: -1;
  // -webkit-filter: grayscale(1); /* Old WebKit */
  // filter: grayscale(1);
}

.logo {
  width: 60px;
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 15px;
  left: 55px;
  transition: all 0.2s ease-in-out;
  // @media only screen and (max-width: $sm) {
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  // }

}

.logo:hover {
  transform: scale(1.1);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0 0 0 -250px;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

nav ul {
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

nav li {
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  margin: 0;
}

input[type="checkbox"]:checked ~ label {
  left: calc(250px + 15px);
}

input[type="checkbox"]:checked ~ .App {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

label {
  span {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: #222;
    transition: all 0.4s ease-in-out;
    top: 10px;

    &:after,
    &:before {
      position: absolute;
      background: #222;
      content: '';
      width: 20px;
      height: 4px;
      transition: all 0.4s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 33px;
  left: 15px;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 2000;
}

label.btn-pressed {
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.header__social--cont {
  float: right;
  display: flex;
  justify-content: center;
  height: 90px;
}

.header__social {
  align-self: center;
}
