/* stylelint-disable */

.LatestArticleList__intro {
  height: 62px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.LatestArticleList__img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.LatestArticleList__label{
  top: 10px;
  left: -10px;
  background: green;
}
