/* stylelint-disable */

.searchInput {
  margin: 0 auto;
  width: 180px;
  align-self: center;
  padding-top: 8px;
}

.searchInput__form {
  width: 180px;
  display: inline-block;
}

.searchInput__input {
  width: 180px;
  display: inline-block;
  border: 0;
  line-height: 25px;
  -webkit-appearance: none;
  outline: none;
  background: none;

  &:focus {
    outline: none;
    // border-bottom: 2px solid black;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
