/* stylelint-disable */

.searchArticleList__intro {
  height: 62px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.searchArticleList__img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.searchArticleList__label{
  height: auto;
  width: auto;
  top: 10px;
  left: -10px;
  background: palette(color-a-light);
}
