/* stylelint-disable */
.SubscribeFrom__form {
  // margin: 0 auto;
  p {
    margin: 0 auto;
    text-align: center;
    font-family: $font-title-a;
    padding-top: spacing(0);
    padding-bottom: spacing(1);
    color: palette(white);
    font-size: 1.5rem;
  }

  form {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    max-width: 90%;
  }

  input {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-top: spacing(4);
  }

  button {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    margin-bottom: spacing(4);
  }
}
