/* stylelint-disable */

.parallax-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parallax {
  z-index: -1;
  position: relative;
  transform-style: preserve-3d;
  font-size: 20px;
}

.parallax-background {
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  height: 80vh;
  width: 100vw;
  top: 15px;
  position: absolute;
  background: #FF8A8A;
  background: 50% 20% / cover;
  background-repeat: no-repeat;
}

.parallax-foreground {
  position: absolute;
  top: 85vh;
  width: 100%;
  background: $white;
}
