/* stylelint-disable */

[data-svg="fb"],
[data-svg="insta"],
[data-svg="sc"],
[data-svg="tw"] {
  svg {
    transition: fill 0.3s ease-in-out;
    fill: $grey;

    &:hover {
      cursor: pointer;
      fill: $black;
    }
  }
}
